* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f5f7fb;
  color: #333;
}

.app {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app-layout > .sidebar {
  width: 240px;
  flex-shrink: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
}

/* navbar fixed */
.main-wrapper > .navbar {
  height: 64px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 240px; 
  right: 0;
  background: #fff;
  z-index: 1000;
}

/* Scrollable main routr */
.page-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 80px 24px 24px; 
}
